/* https://www.labnol.org/internet/embed-responsive-google-maps/28333/ */

.google-maps {
    position: relative;
    padding-bottom: 75%;  
    height: 0;
    overflow: hidden;
    width: 100% !important;
    height: 100% !important;
  }
  .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
