.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    width: 95vw;
}

.button {
    width: 13vw;
}

.box {
    display: flex;
    flex-direction: row;
}

.box .feature {
    flex: 1;
    display: block;
    min-width: 28vw;
    width: 31vw;
    padding: 15px;
    border-style: none none solid none;
}

/* 성당소개 표 스타일 */
#homepage_info dt {
    padding-top: 10px;
    font-weight: bold;
}

#footer .feature p {
    text-align: center
}

@media (prefers-color-scheme: dark) {

    /* Re-assign previous variables */
    body {
        color: white;
        background-color: black;
        text-decoration: none;
    }

    :link {
        color: #0000EE;
    }

    :visited {
        color: #551A8B;
    }

    :link:active,
    :visited:active {
        color: #FF0000;
    }

    :link,
    :visited {
        text-decoration: underline;
        cursor: pointer;
    }
}

/* For mobile devices */
@media (max-device-width: 957px) {

    /* Increase font size */
    body {
        font-size: 5vw;
    }

    .box {
        flex-direction: column
    }

    /* Arrange paragraphs vertically, add border and padding. Make font larger */
    .box .feature {
        min-width: 95vw;
        width: 95vw;
    }

    .button {
        width: 30vw;
    }
}

/* Make the Google map and calendar fill the width */
.feature iframe {
    width: 100%;
    aspect-ratio: 4 / 3;
    /* TODO make the font larger in google map 
		 * https://developers.google.com/maps/documentation/maps-static/start might need API_KEY*/
}

/* Make header font larger */
.feature h2 {
    font-size: 120%;
}