/* https://www.digital.ink/blog/mobile-responsive-youtube-embeds/ */
.youtube-container { 
    position: relative; 
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
} 

.youtube-container iframe,
.youtube-container object,
.youtube-container embed { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}